<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link type="text/css" rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>
            This site was created by In Tae Chung.
            It uses data from <a href="weatherstack.com">weatherstack.com</a> and <a href="mapbox.com">mapbox.com</a>.
        </p>

        <img class="portrait" src="/img/intaec.jpg">
    </div>

    {{>footer}}
</body>

</html>